.panel{
    display: flex;
    justify-content: space-between;
    background-color: #708090;
    border: 1px solid #2e2a2a;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 24px;
}

.Cart_component{
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 100px;
}

.Add_to_Cart {
	text-decoration: none;
	color: #6b5770;
	background-image: linear-gradient(90deg, #fd7f34, #bd155b);
	display: inline-block;
	padding: 14px 30px;
	border: 1px solid;
	position: relative;
	z-index: 0;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 15px 15px 0;
	outline: none;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
}
.Add_to_Cart:before {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	background: linear-gradient(90deg, #fd7f34, #bd155b);
	z-index: -2;
	transition: .4s;
	border-radius: 5px;
}
.Add_to_Cart:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #fff, #fff);
	z-index: -1;
	transition: .4s;
	border-radius: 4px;
}
.Add_to_Cart:hover {
	color: #fff;
	transition: .3s;
}
.Add_to_Cart:hover:after {
	background: linear-gradient(90deg, #fd7f34, #bd155b);
}
.Add_to_Cart:active:after {
	background: linear-gradient(90deg, #d96d2d, #760f3a);
}
.Add_to_Cart:focus-visible {
	box-shadow: 0 0 0 3px #fd7f34;
}
.Add_to_Cart:disabled {
	pointer-events: none;
}
.Add_to_Cart:disabled:before {
	filter: grayscale(100%);
}