.Profile{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user_data{
    text-align: center;
}

.update_profile{
    align-items: center;
    display: flex;
    flex-direction: column;
}