.item_image{
    height: 400px;
}

.single_item{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    width: 125vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.Admin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.User{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.param_item {
	text-decoration: none;
	color: #6b5770;
	background-image: linear-gradient(90deg, #fd7f34, #bd155b);
	display: inline-block;
	padding: 14px 30px;
	border: 1px solid;
	position: relative;
	z-index: 0;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 15px 15px 0;
	outline: none;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
}
.param_item:before {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	background: linear-gradient(90deg, #fd7f34, #bd155b);
	z-index: -2;
	transition: .4s;
	border-radius: 5px;
}
.param_item:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #fff, #fff);
	z-index: -1;
	transition: .4s;
	border-radius: 4px;
}
.param_item:hover {
	color: #fff;
	transition: .3s;
}
.param_item:hover:after {
	background: linear-gradient(90deg, #fd7f34, #bd155b);
}
.param_item:active:after {
	background: linear-gradient(90deg, #d96d2d, #760f3a);
}
.param_item:focus-visible {
	box-shadow: 0 0 0 3px #fd7f34;
}
.param_item:disabled {
	pointer-events: none;
}
.param_item:disabled:before {
	filter: grayscale(100%);
}