.App {
  text-align: center;
}

.link_nav{
  height: 30px;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  background-color: yellow;
}

a{
  text-decoration: none;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: black;
}

